<div>
  {{#if errors }}
  {{#each errors as |msg|}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/each}}
  {{/if}}

  {{#if msg_success }}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg_success }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

  {{#if msg_info }}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ msg_info }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

  {{#if msg_warn }}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ msg_warn }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}

  {{#if msg_error }}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ msg_error }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
</div>